[req]
default_bits = 4096
prompt = no
default_md = sha256
req_extensions = v3_req
distinguished_name = dn

[dn]
C = PK
ST = Punjab
L = Lahore
O = SCM
emailAddress = basit.javed@confiz.com
CN = 192.168.56.10

[v3_req]
subjectAltName = @alt_names

[alt_names]
IP.1 = 192.168.56.10

